/* QA WINDOW */

.qa-section-title {
    -fx-text-fill: #4DA3FF;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}

/* DOCUMENT CARDS */

.qa-document-card {
    -fx-background-color: rgba(255,255,255,0.04);
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: transparent;
}

.qa-document-card:hover {
    -fx-background-color: #4A5B72;
    -fx-cursor: hand;
}

.qa-document-card-selected {
    -fx-background-color: #42536A;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #4DA3FF;
    -fx-border-width: 1.5;
}

.qa-document-title {
    -fx-text-fill: #4DA3FF;
    -fx-font-size: 15px;
    -fx-font-weight: 600;
}

/* PREVIEW */

.qa-preview-pane {
    -fx-background-color: rgba(255,255,255,0.03);
    -fx-background-radius: 14;
    -fx-alignment: top-center;
}

.qa-paper-preview {
    -fx-background-color: #F4F7FA;
    -fx-background-radius: 12;
    -fx-padding: 24;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 18, 0.2, 0, 4);
}

/* ACTION CARDS */

.qa-action-card {
    -fx-background-color: rgba(255,255,255,0.04);
    -fx-background-radius: 12;
    -fx-padding: 2;
}

/* BUTTONS */

.qa-approve-button {
    -fx-background-color: #3B82F6;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: 500;
    -fx-background-radius: 12;
    -fx-pref-height: 58px;
    -fx-cursor: hand;
}

.qa-approve-button:hover {
    -fx-background-color: #5393F7;
}

.qa-reject-button {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 10;
    -fx-pref-height: 40px;
    -fx-cursor: hand;

    -fx-font-weight: 500;}

.qa-reject-button:hover {
    -fx-background-color: rgba(255,255,255,0.14);
}
.qa-main-panel {
    -fx-background-color: #34465C;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-padding: 22;
}
